.class2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.class3{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.class4{
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.class5{
    margin-top: 20px;
    display: flex;
    justify-content: center;}
.class6{
    margin-top: 20px;
    display: flex;
    justify-content: center;}
.class7{
    margin-top: 20px;
    display: flex;
    justify-content: center;}

#login{
    cursor: pointer;
    background-color: rgb(46, 112, 255);
    font-weight: bolder;
    color: white;
    width: 100px;
    height: 50px;
    font-family: monospace;
    font-size: x-large;
    border: none;
    border-radius: 10px;
}
#email{
border-radius: 5px;
border-color: rgb(177, 177, 177) ;
width: 300px;
height: 30px;
}
#password{
    border-radius: 5px;
    border-color: rgb(177, 177, 177) ;
    width: 300px;
    height: 30px;
}