<div class="P">
  <div class="main">
    <div class="name-field">
      <input type="text" class="name" id="emri" placeholder="Shenoni emrin">
      <input type="text" class="surname" id="mbiemri" placeholder="Shenoni mbiemrin">
    </div>
    <input type="email" class="em1" placeholder="Jepni emailin">
    <input type="email" class="em2" placeholder="Konfirmo emailin">
    <input type="password" class="pw" placeholder="Shenoni passwordin">
    <input placeholder="Date of birth" type="text" onfocus="(this.type = 'date')" id="date">
    <div class="pBox">
      <div class="p">
        <p>
          Gender
        </p>
      </div>
    </div>
    <div class="genBox">
      <span class="opt1">
        <label for="Female" class="G">
          Female
          <input type="radio" class="r" name="age">
        </label>
      </span>
      <span class="opt2">
        <label for="Male" class="G">
          Male
          <input type="radio" class="r" name="age">
        </label>
      </span>
      <span class="opt3">
        <label for="Costum" class="G">
          Costum
          <input type="radio" class="r" name="age">
        </label>
      </span>
    </div>
    <div class="class7">
      <button type="submit" id="signup" routerLink="/HOME">Sign up</button>
    </div>
  </div>
</div>