<div class="final">
  <div class="main">
    <div class="find">
      <p>Find Your Account</p>
    </div>
    <div class="email">
      <p>
        Please enter your email address or mobile number to search for your
        account.
      </p>
      <input
        type="email"
        id="email"
        placeholder="Email address or phone number"
      />
    </div>
    <div class="end">
      <input type="button" value="Cancel" id="cancel" routerLink="/LOGIN" />
      <input
        type="button"
        value="Search"
        id="button"
        routerLink="/RECOVERYDONE"
      />
    </div>
  </div>
</div>
